<div id="side_logos">
  	<a href="https://www.linkedin.com/in/joanne-kim-85a07263"><img src="/assets/linkedin.png" class="img-responsive side_logos" id="linked_in"></a>
    <a href="https://github.com/joannehkim"><img src="/assets/github.png" id="github" class="img-responsive side_logos"></a>
  </div>

  <div id="buttons">
    <a href="/main/portfolio"><button id="p_button"> PORTFOLIO </button></a>
  </div>


<section class="module parallax parallax-1 banner">
  <div class="container">
    <h1 id="about" class="animated bounceInDown">About</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
	<div class="row">
	<center>

  		<div class="col-md-12">
      <figure class="about_para">
     <h1 class="about_header">ABOUT ME</h1>
  		<h5>It all started when I figured out how to change the background color of my Xanga website. Back then I thought to myself, "I'm a web designer!" Little did I know how challenging and fun it is to build a website from scratch...</h5> <h5>I graduated with a Bachelor's of Science Degree in Family & Consumer Sciences: Design and Merchandising. After graduating, I worked in the fashion industry as a Production Coordinator/Designer. Then I decided to attend Coding Dojo (where I learned 3 full stacks) to further develop my skills.</h5>
  		</div>
      </figure>
	</div>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
    <figure class="skills">
    <h1>Skills</h1>
    </figure>
  </div>
</section>

<section class="module content">
  <div class="container">
<div class="row">
  <center>
  <figure class="skills_para">
  <div class="col-md-4">
  <figure class="skills_logo">
  <img src="/assets/rubystack.png" class="img-responsive icon"><br>
  RUBY<br>
  RAILS<br>
  RSPEC<br>
  CAPYBARA<br>
  POSTGRESQL
  </figure>
  </div>
  <div class="col-md-4">
  <figure class="skills_logo">
  <img src="/assets/lampstack.png" class="img-responsive icon"><br>
  PHP<br>
  MYSQL<br>
  CODEIGNITER<br>
  AJAX<br>
  JQUERY
  </figure>
  </div>
  <div class="col-md-4">
  <figure class="skills_logo">
  <img src="/assets/meanstack.png" class="img-responsive icon"><br>
  JAVASCRIPT<br>
  MONGODB<br>
  ANGULAR<br>
  NODE.JS<br>
  EXPRESS.JS
  </figure>
  </div>
</div>
<br><br>



<div class="row">

  <center>
  <div class="col-md-2">
  </div>
  <figure class="col-md-12 skills_para_after">
  <img src="/assets/html5.png" class="img-responsive file files">
  <img src="/assets/css3.png" class="img-responsive file files">
  <img src="/assets/materialize.png" class="img-responsive file files">
  <img src="/assets/bootstrap.png" class="img-responsive bootstrap">
  <img src="/assets/photoshop.png" class="img-responsive file">
  <img src="/assets/illustrator.png" class="img-responsive file">
  <img src="/assets/sketch.png" class="img-responsive file">
  <img src="/assets/finalcut.png" class="img-responsive file">
  </figure>
  </div>
  </div>
  <div class="col-md-2">
  </div>
</div>


  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
    <figure class="facts">
    <h1>Facts</h1>
    </figure>
  </div>
</section>

<section class="module content" id="about_par">

  <div class="container">
	<div class="row">
	<center>
  		<div class="col-md-12">
      <figure class="facts_para">
      <h1 class="about_header underlined">RANDOM</h1>
      <p>I was born in Seoul, South Korea.</p>
      <p>My favorite movie is the Transformers.</p>
      <p>I collect Funko Pop! Vinyl Figures.</p>
      <p>I like to play video games.</p>
      <p>I was in marching band for four years.</p>
      <p>I sell handmade bow ties on Etsy.</p>
      </figure>
      </div>
	</div>
  </div>
</section>


<% content_for(:head) do %>
  <%= javascript_include_tag 'about_js' %>
<% end %>

