<!DOCTYPE html>
<html lang="en"/>
<head>
	<title>Joanne Hyelee Kim</title>
	<meta charset="UTF-8">
	<meta name="description" content="Joanne Hyelee Kim's Portfolio"/>
	<meta name="keywords" content="Joanne Hyelee Kim"/>
	<link rel="stylesheet" href="animate.css">
    <style type="text/css">
        body {
            background-image: url("/assets/background.png");
            background-size: 100% auto;
            background-repeat: no-repeat;
        }
        @media (max-width: 1090px) {
            .navbar {
            background: black;
            border-radius: 0px;
            height: 150px;
            }
        }
        @media (max-width: 800px) {
            #picture {
            display: none;
            }
            #intro {
                font-size: 1.3em;
            }
        }
        @media (max-width: 543px) {
            .navbar {
                background-color: black;
                border-radius: 0px;
            }
            #intro {
                font-size: 1.5em;
            }
            #description {
                font-size: 1em;
            }
            .navbar-toggler {
                display: none;
            }
        }
        </style>
</head>
<body>

<div id="wrapper">
	<nav>
		<nav class="navbar navbar-custom">
		  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
		    &#9776;
		  </button>
<!-- 		  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2"> -->
		    <a class="navbar-brand" href="/"><img src="/assets/logo.png" class="navbar-brand img-responsive"></a>
		    <ul class="nav navbar-nav navbar-right">
		      <li class="nav-item active">
		        <a class="nav-link" href="/main/about" id="about">About</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/main/portfolio">Portfolio</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/main/contact">Contact</a>
		      </li>
		    </ul>
		  </div>
		</nav>
    </nav>

   <main>
   <Center>
    <div id="logos">
  	<a href="https://github.com/joannehkim"><img src="/assets/github.png" id="github" class="img-responsive logos"></a><br><br><br>
  	<a href="https://www.linkedin.com/in/joanne-kim-85a07263"><img src="/assets/linkedin.png" class="img-responsive logos"></a>
  </div>


<div class="container">
    <div class="row">
            <div class="col-md-12">
            	<h1 class="header">Thank you for your message!</h1>
            	<h3 class="header">I will get back to you as soon as possible.</h3>
            </div>



    </div>

</div>



   </main>

</div>
</body>
</html>