<!DOCTYPE html>
<html lang="en"/>
<head>
	<title>Joanne Hyelee Kim</title>
	<meta charset="UTF-8">
	<meta name="description" content="Joanne Hyelee Kim's Portfolio"/>
	<meta name="keywords" content="Joanne Hyelee Kim"/>
	<link rel="stylesheet" href="/assets/animate.css">
	<style type="text/css">

		.container {
			margin-top: -90px;
		}
		#loading {
			background-color: white;
			height: 100%;
			width: 100%;
			position: fixed;
			z-index: 1;
			margin-top: 0px;
			top: 0px;
			text-align: center;
		}
		.navbar {
    		background: black;
    		height: 150px;
    		border-radius: 0px;
		}
		.navbar-right {
   			float: right;
		}
		@media (max-width: 543px) {
			.navbar {
				background: black;
			}
			#picture {
				display: none;
			}
			.container {
				margin-top: 50px;
			}
		}
		.navbar-brand>img {
			width: 200px;
		}
		main {
			width: 80%;
			margin: 0 auto;
			margin-bottom: 100px;
		}
		.examples {
			width: 90%;
			margin-bottom: 10px;
		}
		.mobile {
			width: 60%;
		}
		#button {
			background-color: black;
			padding: 20px;
			color: white;
			border: none;
			text-decoration: none;
			margin-bottom: 80px;
		}
		.blank {
			margin-bottom: 80px;
		}
		figure.friends {
			opacity: 0;
			transform: translateX(-20px);
			transition: all 0.9s ease-in-out;
		}
		figure.is_showing {
			opacity: 1;
			transform: translateX(0px);
		}
		.header {
			font-size: 3.5em;
			border-bottom: 3px solid gray;
			width: 80%;
			font-weight: bolder;
		}


	</style>
</head>
<body>

<div id="wrapper">
	<nav>
		<nav class="navbar navbar-custom">
<!-- 		  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
		    &#9776;
		  </button> -->
<!-- 		  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2"> -->
		    <a class="navbar-brand" href="/"><img src="/assets/logo.png" class="navbar-brand img-responsive"></a>
		    <ul class="nav navbar-nav navbar-right">
		      <li class="nav-item active">
		        <a class="nav-link" href="/main/about" id="about">About</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/main/portfolio">Portfolio</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/contacts/new">Contact</a>
		      </li>
		    </ul>
		  </div>
		</nav>
    </nav>

   <main>
   <center>
   <h1 class="header">WIREFRAMES KIT</h1>
   <h4>Wireframe templates created for faster workflow.</h4>
   <h4>Created with Adobe Illustrator + Sketch 3</h4>
   <div id="pictures">
   <figure class="friends">
   <img src="/assets/wireframes.png" class="examples">
   <img src="/assets/wireframes2.png" class="mobile"><br>
   </figure>
   </div>
</div>

<script type="text/javascript">

	$(document).ready(function() {
		$('.header').addClass('animated lightSpeedIn');

		$('#pictures .friends').each(function(i) {

			setTimeout(function() {
				$('#pictures .friends').eq(i).addClass('is_showing');
			}, 180 * (i+1));
		});
	});

</script>

</body>
</html>