.main_background {
  background-image: url("background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  border: none;
}
a:link, a:visited, a:hover, a:active {
  color: white;
}
#loading {
  background-color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 0px;
  top: 0px;
  text-align: center;
}
div#joanne {
  position: absolute;
  left: -400px;
  margin-top: 100px;
}
div#hyelee {
  position: absolute;
  margin-top: 200px;
  right: 10%;
}
div#kim {
  position: absolute;
  margin-top: 300px;
  animation-delay: 3s;
  text-align: center;
}
#joanne {
  animation-duration: 2s;
}
#kim {
  animation-duration: 3.5s;
}
.navbar {
    background: transparent;
    border-radius: 0px;
    height: 200px;
}
.navbar-right {
    float: right;
}
@media (max-width: 543px) {
  .navbar {
    background: black;
    height: 100px;
  }
  .navbar-toggler {
    display: none;
  }
}
.navbar-brand>img {
  width: 200px;
}
#left {
  margin-top: 80px;
  margin-left: 100px;
  font-size: 2em;
}
#right {
  display: inline-block;
  vertical-align: top;
  margin-left: 150px;
}
main {
  height: 100%;
  margin-top: 30px;
}
#picture {
  width: 445px;
    position:fixed;
    bottom:0px;
    left:52%;
}
#intro {
  display: inline-block;
/*  animation-delay: 7s;
  animation-iteration-count: 1;*/
  font-size: 2em;
}
#description {
  display: inline-block;
  animation-delay: 8s;
  animation-iteration-count: 1;
  font-size: 1.3em;
}
.logos {
  position: absolute;
  right: 8px;
  margin-top: 230px;
  margin-left: 120px;
  margin-bottom: 10px;
  height: 60px;
  position: fixed;
}


/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
/*section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}*/
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 10px 0;
}
section.module.parallax {
  height: 800px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax-2 {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax-3 {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 700px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-2 h1, section.module.parallax-3 h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("/assets/background1.png");
}
section.module.parallax-2 {
  background-image: url("/assets/background2.png");
}
section.module.parallax-3 {
  background-image: url("/assets/background3.png");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}
.banner {
  margin-top: -120px;
}
.icon {
  width: 180px;
}
.file {
  height: 100px;
}
.files {
  margin-top: -10px;
}
#overlay {
  background-color: rgba(0,0,0,0.5);
  position:abolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:11;
}
#side_logos {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 5px;
  z-index: 100;
}
#side_logos img {
  width: 50px;
}
#p_button {
  background-color: black;
  border-radius: 30px;
  position: absolute;
  top: 5px;
  left: 10px;
  border: none;
  padding: 15px;
  color: white;
  z-index: 100;
}
.abouts {
  font-size: 2em;
  width: 100%;
}
figure.about_para {
  opacity: 0;
  transform: translateX(-20px);
}
figure.is_showing {
  opacity: 1;
  animation-duration: 2s;
/*  transition: all 0.9s ease-in-out;*/
}
figure.skills {
  opacity: 0;
  transform: translateX(-20px);
}
figure.skills.is_showing {
  opacity: 1;
  transform: translateX(0px);
}
figure.skills_para {
  opacity: 0;
  transform: translateX(-20px);
}
figure.skills_para.is_showing {
  opacity: 1;
  transform: translateX(0px);
}
figure.skills_para_after {
  opacity: 0;
  transform: translateX(-20px);
}
figure.skills_para_after.is_showing {
  opacity: 1;
  transform: translateX(0px);
  margin-left: 10px;
  animation-delay: 1s;
}
figure.facts {
  opacity: 0;
  transform: translateX(-20px);
}
figure.facts.is_showing {
  opacity: 1;
  transform: translateX(0px);
}
.about_header {
  font-size: 5em;
  border-bottom: 2px solid gray;
  width: 400px;
}
figure.facts_para {
  opacity: 0;
  transform: translateX(-20px);
}
figure.facts_para.is_showing {
  opacity: 1;
  transform: translateX(0px);
}
.bootstrap {
  height: 70px;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: -6px;
}
@media all and (min-width: 1024px) {

}